@media (max-width:1420px)
    .container
        padding: 0 40px
    .about
        padding: 195px 200px
        &__content
            width: 50%
    .service
        &__offers
            &-item
                height: 55git0px
                &-button
                    width: 300px
@media (max-width:1200px)
    .about
        &__content
            width: 100%
